@import 'normalize'; /* bring in normalize.css styles */
@import 'reset-css';
* {
  box-sizing: border-box;
}

:root {
  --textColor: rgb(240, 240, 240);
  --scrollerGrey: rgb(219, 219, 219);
  --lightGrey: rgb(227, 227, 227);
  --darkerGrey: rgb(200, 200, 200);
  --tmdbDarkBlue: rgba(3, 37, 65, 0.7);
  --tmdbLightBlue: rgb(1, 180, 228);
  --tmdbLighterGreen: rgb(192, 254, 207);
  --tmdbLightGreen: rgb(30, 213, 169);
  --tmdbLogoGreen: rgb(144, 206, 161);
  --tmdbLogoOrange: rgb(253, 193, 112);
  --tmdbLogoRed: rgb(217, 59, 99);
  --accountSilver: rgb(149, 149, 149);
  --accountPink: rgb(234, 20, 140);
  --accountPurple: rgb(128, 91, 231);
  --accountGreen: rgb(1, 210, 119);
  --accountTeal: rgb(1, 198, 172);
  --accountLightBlue: rgb(1, 180, 228);
  --accountBlue: rgb(1, 119, 210);
  --accountOrange: rgb(210, 119, 1);
  --accountYellow: rgb(210, 144, 1);
  --accountRed: rgb(212, 2, 66);
  --imageBorderRadius: 8px;
  --maxPrimaryPageWidth: 1400px;
  --numberOfDiscoverColumns: 4;
  --discoverColumnPadding: 30px;
}
body {
  margin: 0;
  font-family: 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: normal;
  background-color: var(--tmdbDarkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  display: block;
  color: var(--accountBlue);
  transition: color 200ms linear;
}
a:hover {
  color: var(--accountLightBlue);
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 16px;
}

h3 {
  font-weight: 600;
}
